@import'./sass-variables.scss';

/* Global variables */
:root {
	/* Colors */
	--gray-0: #0a0a0a;
	--gray-50: #1e1e1e;
	--gray-100: #4b4b4b;
	--gray-200: #646464;
	--gray-300: #818181;
	--gray-400: #9b9b9b;
	--gray-500: #a7aab3;
	--gray-600: #b2b7c7;
	--gray-700: #e0e0e0;
	--gray-800: #f0f0f0;
	--gray-900: #f3f4f7;
	--gray-999-basis: 0, 0%, 100%;
	--gray-999_40: hsla(var(--gray-999-basis), 0.4);
	--gold: #ca873e;
	--gold-basis: 31, 57%, 52%;
	--gold_40: hsla(var(--gold-basis), 0.4);
	--light-gold: #ffb867;
	--very-light-gold: #f5e9dc;
	--dark-gold: #b07a3f;
	--dark-brown: #4a3117;
	/* Primary Background Color */
	--gray-999: #fefefe;

	--accent-light: #ffb867;
	--accent-regular: var(--gold);
	--accent-dark: #644622;
	// --accent-overlay: hsla(280, 89%, 67%, 0.33);
	--accent-overlay: hsla(32, 78%, 63%, 0.33);
	--accent-subtle-overlay: var(--accent-overlay);
	--accent-text-over: var(--gray-999);

	--link-color: var(--accent-regular);

	--heading-color: var(--gold);
	--alt-heading-color: var(--accent-light);
	--alt-p-color: var(--dark-gold);

	/* Gradients */
	--gradient-stop-1: var(--accent-light);
	--gradient-stop-2: var(--accent-regular);
	--gradient-stop-3: var(--accent-dark);
	// --gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 150%);
	--gradient-subtle: radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(31,28,28,1) 72%);
	--gradient-accent: linear-gradient(
		150deg,
		var(--gradient-stop-1),
		var(--gradient-stop-2),
		var(--gradient-stop-3)
	);
	--gradient-accent-orange: linear-gradient(
		150deg,
		var(--accent-light),
		var(--accent-regular),
		var(--accent-dark)
	);
	--gradient-background: radial-gradient(var(--gray-900), var(--gray-800) 150%);

	--gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));

	--text-gradient: linear-gradient(
		to right,
		#a17237 0,
		#ca873e 22%, 
		#ca873e 78%,
		#a17237 100%
		);

	/* Shadows */
	--shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
		0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
	--shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.04), 0px 16px 10px rgba(9, 11, 17, 0.06),
		0px 7px 7px rgba(9, 11, 17, 0.08), 0px 2px 4px rgba(9, 11, 17, 0.09);
	--shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
		0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);

	--shadow-heading: 1px 1px 4px rgba(0,0,0,0.15);
	--shadow-vertical: 0px -2px 24px 0px rgba(197, 198, 199, 1), 0px 2px 24px 0px rgba(197, 198, 199, 1);
	--shadow-alt: inset -8px -8px 45px 0px rgba(161,158,161,.8);

	/* Backgrounds */
	--bg-tile: repeat url('/assets/backgrounds/bg-tile.jpg');
	// --bg-textured: linear-gradient(340deg, rgba(227,163,92,0.8) 0%, rgba(219,164,100,0.4) 22%, rgba(196,153,104,0.2) 42%, rgba(255,255,255,1) 59%);
	--bg-textured: linear-gradient(0deg, rgba(94,94,94,0.2) 0%, rgba(182,182,182,0.2) 24%, rgba(254,254,254,0.2) 71%);
	;
	--bg-alt-color: rgba(236, 235, 235, 0.7);

	/* Borders */
	--box-border: 1px solid var(--gold_40);
	--vertical-border: 1px solid var(--gray-700);

	/* Fonts */
	--font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-body: 'Public Sans', var(--font-system);
	// --font-brand: Rubik, var(--font-system);
	--font-brand: 'Cormorant SC', serif, var(--font-system);
	--font-color: var(--gray-200);

	/* Text Sizes */
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;

	/* Transitions */
	--theme-transition: 0.2s ease-in-out;

	/* Buttons */
	--button-bg: var(--gradient-accent-orange);

	/* Icons */
	--icon-color: var(--gray-200);
}

:root.theme-dark {
	--gray-0: #ffffff;
	--gray-50: #f3f4f7;
	--gray-100: #e3e6ee;
	--gray-200: #c3cadb;
	--gray-300: #a3acc8;
	--gray-400: #a3a7b5;
	--gray-500: #6474a2;
	--gray-600: #505d84;
	--gray-700: #595d68;
	--gray-800: #404040;
	--gray-900: #191919;
	--gray-999-basis: 225, 31%, 5%;
	--gray-999: #090b11;
	--gold: #ca873e;

	--accent-light: #644622;
	--accent-regular: var(--gold);
	--accent-dark: #ffd19f;
	--accent-overlay: hsla(32, 81%, 64%, 0.33);
	--accent-subtle-overlay: hsla(32, 83%, 35%, 0.33);
	// --accent-text-over: var(--dark-brown);

		/* Backgrounds */
	--bg-color: #090b11;
	--bg-tile: repeat url('/assets/backgrounds/bg-tile-dark.jpg');
	--bg-alt-color: #141821;
	--bg-textured: var(--bg-alt-color);

	/* Borders */
	--box-border: 1px solid #8c6538c8;
	--vertical-border: 1px solid var(--gray-800);

	/* Fonts */
	--font-color: var(--gray-200);

	--heading-color: var(--light-gold);
	--alt-heading-color: var(--dark-brown);
	--alt-p-color: var(--light-gold);

	--link-color: var(--accent-dark);

	/* Gradients */

	--gradient-stop-1: #87620a;
	--gradient-subtle: linear-gradient(150deg, rgba(202,135,62,1) 0%, rgba(230,146,57,1) 9%, rgba(255,184,103,1) 40%, rgba(245,233,220,1) 90%);
	--gradient-background: radial-gradient(var(--bg-alt-color), #1c212e 150%);
	--gradient-stroke: linear-gradient(180deg, var(--gray-600), var(--gray-800));

	--text-gradient: linear-gradient(
		to right,
		#a17237 0,
		#ca873e 22%, 
		#fac286 45%,
		#f8dd94 50%,
		#fac286 55%,
		#ca873e 78%,
		#a17237 100%
		);

	--shadow-sm: 0px 6px 3px rgba(10, 10, 10, 0.01), 0px 4px 2px rgba(100, 100, 100, 0.01),
		0px 2px 2px rgba(100, 100, 100, 0.02), 0px 0px 1px rgba(100, 100, 100, 0.03);
	--shadow-md: 28px 28px 11px rgba(10, 10, 10, 0.01), 16px 16px 10px rgba(100, 100, 100, 0.03),
	7px 7px 7px rgba(100, 100, 100, 0.05), 2px 2px 4px rgba(100, 100, 100, 0.06);
	// --shadow-lg: 62px 62px 25px rgba(10, 10, 10, 0.01), 35px 35px 21px rgba(100, 100, 100, 0.05),
	// 16px 16px 16px rgba(100, 100, 100, 0.1), 4px 4px 9px rgba(100, 100, 100, 0.12);
	--shadow-lg: 62px 62px 25px rgba(170, 135, 0, 0.01), 35px 35px 21px rgba(170, 135, 0, 0.05),
	16px 16px 16px rgba(170, 135, 0, 0.06), 4px 4px 9px rgba(170, 135, 0, 0.1);
	--shadow-heading: none;
	--shadow-vertical: 0px -4px 24px 0px rgba(49,40,32,1), 0px 4px 24px 0px rgba(49,40,32,1);
	--shadow-alt: inset -8px -8px 45px 0px rgba(176,122,63,1);

	/* Buttons */
	--button-bg: var(--gradient-accent-orange);

	/* Icons */
	--icon-color: var(--gray-200);
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

body {
	background-color: var(--gray-999);
	color: var(--gray-200);
	font-family: var(--font-body);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-family: var(--font-brand);
	font-weight: 300;
	// color: var(--gray-100);
	color: var(--heading-color);
	&.fancy-heading {
		@include fancy-heading;
	}
}

h1 {
	font-size: var(--text-5xl);
}

h2 {
	font-size: var(--text-4xl);
}

h3 {
	font-family: 'Josefin Sans', serif, var(--font-system);
	font-size: var(--text-3xl);
}

h4 {
	font-size: var(--text-2xl);
}

h5 {
	font-size: var(--text-xl);
}

/* Utilities */

.hide-mobile {
	@include mobile-only {
		display: none;
	}
}

.hide-not-mobile {
	@media (min-width: $breakpoint-mobile) {
		display: none;
	}
}

.center-mobile-only {
	@include mobile-only {
		margin: auto;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.wrapper {
	width: 100%;
	// max-width: 83rem;
	margin-inline: auto;
	// padding-inline: 1.5rem;
	padding: 4rem 0rem;
}

.wrapper.alt-wrapper {
	position: relative;
	// border-top: var(--vertical-border);
	// border-bottom: var(--vertical-border);
	background-color: var(--bg-alt-color);

	// --heading-color: var(--gray-100);
}

.wrapper.alt-wrapper:before {
  // content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: var(--bg-pattern-main);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stack {
	display: flex;
	flex-direction: column;
}

.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-8 {
	gap: 2rem;
}
.gap-10 {
	gap: 2.5rem;
}
.gap-15 {
	gap: 3.75rem;
}
.gap-20 {
	gap: 5rem;
}
.gap-30 {
	gap: 7.5rem;
}
.gap-48 {
	gap: 12rem;
}

@media (min-width: 50em) {
	.lg\:gap-2 {
		gap: 0.5rem;
	}
	.lg\:gap-4 {
		gap: 1rem;
	}
	.lg\:gap-8 {
		gap: 2rem;
	}
	.lg\:gap-10 {
		gap: 2.5rem;
	}
	.lg\:gap-15 {
		gap: 3.75rem;
	}
	.lg\:gap-20 {
		gap: 5rem;
	}
	.lg\:gap-30 {
		gap: 7.5rem;
	}
	.lg\:gap-48 {
		gap: 12rem;
	}
}
