---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Banner from '../components/Banner.astro';
---

<BaseLayout title="About | Demimonde Designs" description="About Demimonde Designs: Web design for escorts">
	<div class="stack gap-20" id="about-page">
		<div class="padding-0 wrapper stack gap-8 lg:gap-20">
			<Banner
				title="About"
				image="/assets/banners/about-demimonde-designs-banner.jpg"
			>
			</Banner>
		</div>

		<main>

			<div class="wrapper stack gap-20">
				<section class="section section-col-6">
					<div class="section-header">
						<h2 class="section-title">Background</h2>
					</div>
					<div class="content">
						<p>
							Demimonde Designs was founded in 2023 by an escort who understood the industry's unique need for 
							safety — as well as the importance of the website in acquiring clients. We prioritize working 
							with you to fully realize your brand, down to the fine details. 
						</p>
					</div>
				</section>
			</div>

			<div class="wrapper stack gap-20">
				<section class="section section-col-6">
					<div class="section-header">
						<h2 class="section-title">Our Websites</h2>
					</div>
					<div class="content">
						<p>
							We focus on the combination of <span class="font-bold">privacy</span>, <span class="font-bold">SEO</span>, and <span class="font-bold">customization</span>.
						</p>
						<p>
							Websites are built with <span class="font-bold">privacy</span> in mind. We use a combination of 
							privacy-first tools to ensure that your website is as secure as possible. All websites have SSL certificates 
							and encrypted forms. We also offer offshore hosting.
						</p>
						<p>
							We understand the importance of SEO in the escort industry. Your website will be optimized to 
							bump you to the top of search results to ensure that you are found by the right clients. We also 
							provide tools to monitor your acquisition traffic.
						</p>
					</div>
				</section>
			</div>

			<div class="wrapper stack gap-20">
				<section class="section section-col-6">
					<div class="section-header">
						<h2 class="section-title">About Our Founder</h2>
					</div>
					<div class="content">
						<p>
							Sophia Skye is a web developer and designer with a background in the escort industry. (More info soon.)
						</p>
					</div>
				</section>
			</div>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>

	/* ====================================================== */

	.section.section-col-6 {
		max-width: 83rem;
		padding-inline: 1.5rem;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		/* --hero-bg: var(--bg-image-subtle-2); */

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background: url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		/* --hero-bg: var(--bg-image-subtle-1); */
	}

	.section-col-6 .section-header {
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--font-color);
	}

	.section-col-6 .section-header h3 {
		font-size: var(--text-3xl);
		color: var(--heading-color);
	}

	@media (min-width: 50em) {
		.section.section-col-6 {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-template-areas: 'header header content content content content' 'header header content content content content';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header content content content content' 'header header content content content content';
		}

		.section-col-6 .section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-col-6 .section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.content {
			grid-area: content;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		position: relative;
		grid-column-start: 1;
		font-size: var(--text-2xl);
	}

	.section-title:before {
		position: absolute;
		left: 0;
		bottom: -1rem;
		height: 0;
		width: 9rem;
		content: '';
		border-top: 1px solid var(--gold);
	}

	.content {
		grid-area: content;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
