---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
  import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import Banner from '../components/Banner.astro';
import FormSubmitted from '../components/FormSubmitted.astro';


// Page section components

---

<BaseLayout title="Contact | Demimonde Designs" description="Contact Demimonde Designs, custom web design for escorts">
	<div class="stack gap-20" id="contact-page">
		<div class="padding-0 wrapper stack gap-8 lg:gap-20">
			<Banner
				title="Contact Us"
				image="/assets/banners/contact-demimonde-designs-banner.jpg"
			>
		</Banner>
		</div>

		<main>

			<div class="wrapper stack gap-20 lg:gap-48">
				<section class="section columns-2">
					<header class="section-header stack gap-2 lg:gap-4">
						<h3>Curious? Shoot me a message! </h3>
						<p>
							No question is too big or too small. I'm happy to answer any questions you may have about my services, or just chat about your project.
						</p>
					</header>
					<div class="content">
						<FormSubmitted />
					</div>
				</section>
			</div>

		</main>
	</div>
</BaseLayout>

<style>
	#index-page .padding-0 {
		padding: 0 !important;
	}

	.roles {
		display: none;
	}

	@media (min-width: 50em) {
		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}
	}

	/* ====================================================== */

	.section {
		max-width: 83rem;
		padding-inline: 1.5rem;
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		/* --hero-bg: var(--bg-image-subtle-2); */

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background: url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		/* --hero-bg: var(--bg-image-subtle-1); */
	}

	.section-header, header {
		margin: auto;
		max-width: 64ch;
		font-size: var(--text-md);
		color: var(--font-color);
	}

	.section-header h3 {
		text-align: center;
		font-size: var(--text-3xl);
		color: var(--heading-color);
	}

	.section-header p {
		text-align: center;
	}

	.content {
		margin: auto;
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header content content' 'header header content content';
			gap: 5rem;
		}

		.section.columns-2 {
			grid-template-columns: 1fr;
			grid-template-areas: 'header content';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header content content' 'header header content content';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			text-align: left;
			font-size: var(--text-4xl);
		}

		.section-header p {
			text-align: left;
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.content {
			grid-area: content;
		}

		.cta {
			grid-area: cta;
		}
	}

</style>
