---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import Banner from '../components/Banner.astro';


// Page section components

---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48" id="index-page">
		<div class="padding-0 wrapper stack gap-8 lg:gap-20">
			<Banner
				title="Contact Us"
				image="/assets/banners/contact-banner.jpg"
			>
		</Banner>
		</div>

		<main>

			<div class="wrapper stack gap-20 lg:gap-48">
				<section class="section">
					<header class="section-header stack gap-2 lg:gap-4">
						<h2>Contact Us</h2>
					</header>
					<div class="gallery">
						
					</div>
				</section>
			</div>

		</main>
	</div>
</BaseLayout>

<style>
	#index-page .padding-0 {
		padding: 0 !important;
	}

	.roles {
		display: none;
	}

	@media (min-width: 50em) {
		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}
	}

	/* ====================================================== */

	.section {
		max-width: 83rem;
		padding-inline: 1.5rem;
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		/* --hero-bg: var(--bg-image-subtle-2); */

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background: url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		/* --hero-bg: var(--bg-image-subtle-1); */
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		/* color: var(--gray-300); */
		color: var(--font-color);
	}

	.section-header h3 {
		font-size: var(--text-3xl);
		color: var(--heading-color);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

</style>
