---
import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="row">
		<div class="group">
			<div class="content centered logo mx-auto">
				<img class="object-contain w-56" src="/assets/logo-sm.svg" alt="Demimonde Designs logo">
			</div>
		</div>
		<div class="group navigation">
			<h2 class="heading">Navigation</h2>
			<div class="content">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
		<div class="group contact">
			<h2 class="heading">Contact Us</h2>
			<div class="content centered">
				<ul>
					<li><a href="/contact">Send us an email</a></li>
					<li><a href="/about">Book a consult</a></li>
				</ul>
			</div>
		</div>
		<div class="group">
			<h2 class="heading">Socials</h2>
			<div class="content centered">
				<p class="socials">
					<span class="social-link"><a href="https://twitter.com/DemimondeDesign"><Icon icon="twitter" size="1.5rem"/></a></span>
					<span class="social-link"><a href="https://github.com/demimondedesign"><Icon icon="github" size="1.5rem"/></a></span>
					<span class="social-link"><a href="https://www.instagram.com/demimondedesigns/"><Icon icon="instagram" size="1.5rem"/></a></span>
				</p>
			</div>
		</div>
	</div>

	<!-- <div class="row bottom-bar">
		<div class="group">
			<div class="content">
				<p class="flex gap-1">
					Designed and developed by Sophia Skye<Icon icon="rocket-launch" size="1.2em" />
				</p>
			
			</div>
		</div>
	</div> -->

	<!-- Designed & Developed with <a href="https://astro.build/">Astro</a>
	<Icon icon="rocket-launch" size="1.2em" /> -->

		<!-- <p>&copy; {currentYear} Sophia Skye</p> -->
</footer>
<style>
	footer {
		margin-top: auto;
		padding: 1.5rem 2rem 3rem;
		text-align: center;
		background-color: #090b11;
		border-top: 1px solid var(--accent-light);
		color: var(--gray-400);
		font-size: var(--text-sm);
	}

	footer .row {
		padding: 2rem 0rem;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	footer .row.bottom-bar {
		justify-content: center;
		background-color: var(--gray-200);
	}

	footer .heading {
		font-size: var(--text-2xl);
	}

	footer .content {
		flex-grow: 1;
	}

	footer .centered {
		display: flex;
		flex-direction: column;
		gap: .05rem;
		justify-content: center;
	}

	footer a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.socials {
		display: flex;
		justify-content: center;
		gap: 2rem;
		flex-wrap: wrap;
	}

	@media (min-width: 50em) {
		footer {
			padding: 2.0rem 2.5rem;
		}

		footer .row {
			padding: 1rem 0rem;
			flex-direction: row;
			justify-content: space-between;
		}

		/* footer .row.bottom-bar {
			justify-content: center;
		} */

		.group {
			/* flex-direction: row; */
			flex-wrap: wrap;
		}

		.socials {
			gap: 1rem;
		}
	}
</style>
