---
import Icon from './Icon.astro';
import type { Service } from '../data/services';

interface Props extends Service {}

const { title, description, icon } = Astro.props;
---

<div class="icon-box box stack gap-2 lg:gap-4">
  <div class="center-mobile-only">
    <Icon icon={icon} color="var(--icon-color)" size="3.5rem" />
  </div>
  <div class="center-mobile-only">
    <h3>{title}</h3>
  </div>
  <p>{description}</p>
</div>

<style>

	.box {
		/* border: var(--box-border); */
		/* border-radius: .6rem; */
		padding: 1rem 1rem 2rem 1rem;
		/* background: var(--bg-textured); */
		/* box-shadow: var(--shadow-lg); */

		@include mobile-only {
			display: none;
		}
	}

  .icon-box h3 {
    font-size: var(--text-2xl);
    color: var(--dark-gold);
    text-align: center;
  }

  :root.theme-dark .icon-box h3 {
    color: var(--gold);
  }

	@media (min-width: 50em) {
		.icon-box h3 {
      text-align: left;
    }
	}
</style>
