---
import '../styles/global.scss';
// import featuredImage from "../images/featuredImage.png";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'Escort Web Design and SEO',
	description = "Escort web design and SEO services, specializing in speed and SEO optimization. We build elegant websites for elite escorts. Available worldwide",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />

<meta name="twitter:card" content="summary" /> 
<meta name="twitter:site" content="@demimondedesign" /> 
<meta name="twitter:title" content="Demimonde Designs" /> 
<meta name="twitter:description" content="Web design for escorts" /> 
<meta name="twitter:image" content="/assets/featuredImage.png" />

<meta name="image" property="og:image" content="/assets/featuredImage.png" />

<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;600&&family=Cinzel+Decorative&family=Cormorant+SC:wght@300&family=Josefin+Sans:wght@300;400;600;700&display=swap"
	rel="stylesheet"
/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />

<script is:inline>
	// This code is inlined in the head to make dark mode instant & blocking.
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('theme-dark');

	if (typeof localStorage !== 'undefined') {
		// Watch the document element and persist user preference when it changes.
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('theme-dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>
