---

---

<!-- <div class="pt-24 flex flex-row pb-44"> -->
  <!-- Squarespace :: Basic Card -->
  <div class="card w-96 p-8 text-center rounded-lg pr-16 shadow-xl">
      <h3 class="text-2xl">Quick Start</h1>
      <p class="price pt-2 tracking-wide">
          <span class="align-top">$ </span>
          <span class="text-3xl">10</span>
      </p>
      <hr class="mt-4 border-1 border-gray-600">
      <div class="pt-8">
          <p class="text-left">
              <span class="material-symbols-outlined align-middle">
                  done
              </span>
              <span class="pl-2">
                  Built in Squarespace
              </span>
          </p>
          <p class="text-left">
            <span class="material-symbols-outlined align-middle">
                done
            </span>
            <span class="pl-2">
                Up to 7 pages including photo gallery
            </span>
        </p>
          <p class="text-left pt-5">
              <span class="material-symbols-outlined align-middle">
                  done
              </span>
              <span class="pl-2">
                Responsive design
              </span>
          </p>
          <p class="text-left pt-5">
              <span class="material-symbols-outlined align-middle">
                  done
              </span>
              <span class="pl-2">
                  Logo design
              </span>
          </p>
          <p class="text-left pt-5">
            <span class="material-symbols-outlined align-middle">
                done
            </span>
            <span class="pl-2">
                Custom color palette
            </span>
        </p>
        <p class="text-left pt-5">
          <span class="material-symbols-outlined align-middle">
              done
          </span>
          <span class="pl-2">
              Contact form
          </span>
      </p>
      <p class="text-left pt-5">
        <span class="material-symbols-outlined align-middle">
            done
        </span>
        <span class="pl-2">
            Google analytics
        </span>
    </p>

          <a href="#" class="">
              <p class="button primary-button w-full py-4 mt-8 rounded-xl text-white">
                  <span class="font-medium">
                      Choose Plan
                  </span>
                  <span class="pl-2 material-symbols-outlined align-middle text-sm">
                      east
                  </span>
              </p>
          </a>
      </div>
  </div>
  <!-- Basic :: Active Card -->
  <div class="card active-card w-80 p-8 bg-gray-900 text-center rounded-lg text-white shadow-xl transform scale-125">
      <h3 class="text-2xl">Basic</h1>
      <p class="price pt-2 tracking-wide">
          <span class="align-top">$ </span>
          <span class="text-3xl">24</span>
      </p>
      <hr class="mt-4 border-1">
      <div class="pt-8">
          <p class="text-left">
              <span class="material-symbols-outlined align-middle">
                  done
              </span>
              <span class="pl-2">
                  Built from design template
              </span>
          </p>
          <p class="text-left pt-5">
              <span class="material-symbols-outlined align-middle">
                  done
              </span>
              <span class="pl-2">
                All features in Quick Start
              </span>
          </p>
          <p class="text-left pt-5">
            <span class="material-symbols-outlined align-middle">
                done
            </span>
            <span class="pl-2">
                Custom web design: fonts, colors, branding,
            </span>
        </p>
        <p class="text-left pt-5">
          <span class="material-symbols-outlined align-middle">
              done
          </span>
          <span class="pl-2">
              Domain privacy
          </span>
      </p>
          <p class="text-left pt-5">
              <span class="material-symbols-outlined align-middle">
                  done
              </span>
              <span class="pl-2">
                  Loading speed optimized
              </span>
          </p>
          <p class="text-left pt-5">
            <span class="material-symbols-outlined align-middle">
                done
            </span>
            <span class="pl-2">
                SEO optimized
            </span>
        </p>
        <p class="text-left pt-5">
          <span class="material-symbols-outlined align-middle">
              done
          </span>
          <span class="pl-2">
              Daily backups
          </span>
        </p>

          <a href="#" class="">
              <p class="button primary-button w-full py-4 mt-8 rounded-xl text-white">
                  <span class="font-medium">
                      Choose Plan
                  </span>
                  <span class="pl-2 material-symbols-outlined align-middle text-sm">
                      east
                  </span>
              </p>
          </a>
      </div>
      <div class="absolute top-4 right-4">
          <p class="button font-semibold px-4 py-1 rounded-md uppercase text-xs">Popular</p>
      </div>
  </div>

  <!-- Premium :: Basic Card -->
  <div class="card w-96 p-8 text-center rounded-lg pl-16 shadow-xl">
      <h3 class="text-2xl">Premium</h1>
      <p class="price pt-2 tracking-wide">
          <span class="align-top">$ </span>
          <span class="text-3xl">35</span>
      </p>
      <hr class="mt-4 border-1 border-gray-600">
      <div class="pt-8">
          <p class="text-left">
              <span class="material-symbols-outlined align-middle">
                  done
              </span>
              <span class="pl-2">
                  Built from scatch to represent your unique brand
              </span>
          </p>
          <p class="text-left pt-5">
              <span class="material-symbols-outlined align-middle">
                  done
              </span>
              <span class="pl-2">
                All features in Basic
              </span>
          </p>
          <p class="text-left pt-5">
              <span class="material-symbols-outlined align-middle">
                  done
              </span>
              <span class="pl-2">
                  Completely custom graphics
              </span>
          </p>
          <p class="text-left pt-5">
            <span class="material-symbols-outlined align-middle">
                done
            </span>
            <span class="pl-2">
                Custom jQuery/Animation
            </span>
          </p>
          <p class="text-left pt-5">
            <span class="material-symbols-outlined align-middle">
                done
            </span>
            <span class="pl-2">
                Daily backups
            </span>
          </p>
          <p class="text-left pt-5">
            <span class="material-symbols-outlined align-middle">
                done
            </span>
            <span class="pl-2">
                Meetings 2/week to discuss progress and make revisions
            </span>
          </p>

          <a href="#" class="">
              <p class="button primary-button w-full py-4 mt-8 rounded-xl text-white">
                  <span class="font-medium">
                      Choose Plan
                  </span>
                  <span class="pl-2 material-symbols-outlined align-middle text-sm">
                      east
                  </span>
              </p>
          </a>
      </div>
  </div>
<!-- </div> -->

<style>
  .card {
    background-color: #393b40;
  }

  .card h3 {
    color: var(--gray-400);
  }

  .card p {
    font-family: "Josefin Sans", serif, var(--font-system);
  }

  .card .price {
    color: var(--gray-400);
  }

  .card .button {
    background-color: var(--accent-regular);
  }

  .card.active-card {
    border-width: 3px;
    border-color: var(--accent-regular);
  }

  .card.active-card .primary-button {
    border: 2px solid var(--light-gold);
  }

  .card.active-card h3 {
    color: #ffffff;
  }

  .card.active-card .price {
    color: #ffffff;
  }

  :root.theme-dark .card {
    background-color: #30333b;
  }


</style>