---
import PricingPackage from "./PricingPackage.astro";
import { quickStart, standard, premium } from "../data/packages";
---

<div class="pt-24 flex flex-row pb-44">
  <!-- Squarespace :: Basic Card -->
  <PricingPackage package={quickStart} />

  <!-- Standard :: Active Card -->
  <PricingPackage package={standard} active={true} />

  <!-- Premium :: Basic Card -->
  <PricingPackage package={premium} />
</div>
