---
import PricingPackage from "./PricingPackage.astro";
import { quickStart, standard, premium } from "../data/packages";
---

<div class=" pt-24 flex flex-col md:flex-row gap-8 md:gap-0 md:pb-20">
  <!-- Squarespace :: Basic Card -->
  <PricingPackage package={quickStart} />

  <!-- Standard :: Active Card -->
  <PricingPackage package={standard} active={true} />

  <!-- Premium :: Basic Card -->
  <PricingPackage package={premium} />
</div>

