---
import Icon from './Icon.astro';
const { title, description, icon } = Astro.props.data;
---

<div class=" services box stack gap-1 lg:gap-2">
  <div class="center-mobile-only">
    <Icon icon={icon} color="var(--gray-200)" size="2.5rem" />
  </div>
  <div class="center-mobile-only">
    <h3>{title}</h3>
  </div>
  <p>{description}</p>
</div>

<style>

  .services {
    height: 11rem;
  }
	.box {
		/* border: var(--box-border); */
		/* border-radius: .6rem; */
		padding: 1rem 1rem 2rem 1rem;
		/* background: var(--bg-textured); */
		/* box-shadow: var(--shadow-lg); */

		@include mobile-only {
			display: none;
		}
	}

  .services h3 {
    font-size: var(--text-3xl);
    color: var(--accent-regular);
  }

	@media (min-width: 50em) {
    .services {
      height: 22rem;
    }
		.services h3 {
      font-size: var(--text-2xl);
    }
	}
</style>
