---
import Icon from './Icon.astro';
---

<section>
	<div class="m-4 skills">

		<div class="box stack gap-1 lg:gap-2">
			<div class="center-mobile-only">
				<Icon icon="feather" color="var(--accent-regular)" size="2.5rem" gradient />
			</div>
			<div class="center-mobile-only">
				<h2>Lightweight</h2>
			</div>
			<p>Wordpress plugins make websites slow and clunky. Our sites are built for speed. </p>
		</div>
		<div class="box stack gap-1 lg:gap-2">
			<div class="center-mobile-only">
				<Icon icon="palette" color="var(--accent-regular)" size="2.5rem" gradient />
			</div>
			<div class="center-mobile-only">
				<h2>Custom</h2>
			</div>
			<p>Our websites are built completely from scratch — no premade Squarespace themes. We work with you to create something completely unique that reflects your personal brand.</p>
		</div>
		<div class="box stack gap-1 lg:gap-2">
			<div class="center-mobile-only">
				<Icon icon="sparkle" color="var(--accent-regular)" size="2.5rem" gradient />
			</div>
			<div class="center-mobile-only">
				<h2>Simple</h2>
			</div>
			<p>Share your vision, and we'll actualize it. Want a more hands on experience?
				We'll make it easy to update your site yourself.
			</p>
		</div>
	</div>

</section>

<style>
	.box {
		border: var(--box-border);
		border-radius: .6rem;
		padding: 1rem 1.5rem 2rem 1.5rem;
		background: var(--bg-alt);
		box-shadow: var(--shadow-sm);

		@include mobile-only {
			display: none;
		}
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.skills h2 {
		font-size: var(--text-xl);
		padding: 1rem 0rem;
	}

	.skills p {
		color: var(--gray-200);
	}

	@media (min-width: 50em) {
		.box {
			/* border-radius: 1.5rem; */
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 3rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
